<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-6 pb-2">My data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-2">
            <div class="card mt-1">
                <div class="card-body">
                    <span>Care team</span><span class="float-end"><i class="bi bi-arrow-right"></i></span>
                    <a routerLink="/care-team" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2">
            <div class="card mt-1">
                <div class="card-body">
                    <span>Personal data</span><span class="float-end"><i class="bi bi-arrow-right"></i></span>
                    <a routerLink="/person-data" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>