<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 pb-2">Daily tasks</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <!--   <p class="centered-divider"><span>Yesterday's tasks</span></p>
      <div class="card bg-success mt-2">
        <div class="card-body">
          <span
            ><b>09:00</b
            ><span class="badge bg-success float-end">Completed</span><br />Body
            temperature</span
          >
        </div>
      </div>
      <div class="card bg-success mt-1">
        <div class="card-body">
          <span
            ><b>10:00</b
            ><span class="badge bg-success float-end">Completed</span><br />Body
            weight</span
          >
        </div>
      </div>
      <p class="centered-divider mt-2"><span>Today's tasks</span></p> -->
      <div class="card bg-success mt-1">
        <div class="card-body">
          <span
            ><b>08:00</b
            ><span class="badge bg-success float-end">Completed</span
            ><br />Grooming task</span
          >
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <div class="card bg-warning mt-1">
        <div class="card-body">
          <span
            ><b>09:00</b><span class="badge bg-warning float-end">Overdue</span
            ><br />Body temperature</span
          >
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <div class="card bg-danger mt-1">
        <div class="card-body">
          <span
            ><b>10:00</b><span class="badge bg-danger float-end">Urgent</span
            ><br />Body weight<span class="text-danger float-end"
              ><i class="bi bi-arrow-right"></i></span
          ></span>
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <span><b>11:00</b><br />Fresubin 1800 complete - 1500ml</span
          ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <span><b>18:00</b><br />Body temperature</span
          ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <span><b>19:00</b><br />Body weight</span
          ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
          <a routerLink="/task" class="stretched-link"></a>
        </div>
      </div>
      <!-- <p class="centered-divider mt-2"><span>Tomorrow's tasks</span></p>
      <div class="card mt-1">
        <div class="card-body">
          <span><b>9:00</b><br />Body temperature</span
          ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-body">
          <span><b>10:00</b><br />Body weight</span
          ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
        </div>
      </div> -->
    </div>
  </div>
</div>
