<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 pb-2">Daily tasks</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card bg-success">
            <div class="card-body">
                <span><b>08:00</b><span class="badge bg-success float-end">Completed</span><br>Name of the success task</span>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="card bg-warning">
            <div class="card-body">
                <span><b>09:00</b><span class="badge bg-warning float-end">Overdue</span><br>Name of the warning task</span>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="card bg-danger">
            <div class="card-body">
                <span><b>10:00</b><span class="badge bg-danger float-end">Urgent</span><br>Name of the danger task<span class="text-danger float-end"><i class="bi bi-arrow-right"></i></span></span>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="card">
            <div class="card-body">
                <span><b>11:00</b><br>Name of the open task</span><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="card">
            <div class="card-body">
                <span><b>12:00</b><br>Name of the open task</span><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="card">
            <div class="card-body">
                <span><b>13:00</b><br>Name of the open task</span><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
        </div>
    </div>
  </div>
</div>
