<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 pb-2">Daily tasks</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p><i class="bi bi-exclamation-triangle-fill me-2"></i>Next task</p>
          <div class="card bg-danger">
            <div class="card-body">
              <span
                ><b>10:00</b
                ><span class="badge bg-danger float-end">Urgent</span><br />Body
                weight<span class="text-danger float-end"
                  ><i class="bi bi-arrow-right"></i></span
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 pt-4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 col-md-8 p-4 pb-0">
            <div class="btn-toolbar mb-3 justify-content-center justify-content-md-start" role="toolbar" aria-label="calendar navigation">
              <div class="btn-group me-2" role="group" aria-label="days">
                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i></button>
                <button type="button" class="btn btn-outline-secondary">13</button>
                <button type="button" class="btn btn-outline-secondary">14</button>
                <button type="button" class="btn btn-outline-secondary">15</button>
                <button type="button" class="btn btn-outline-secondary active">16</button>
                <button type="button" class="btn btn-outline-secondary">17</button>
                <button type="button" class="btn btn-outline-secondary">18</button>
                <button type="button" class="btn btn-outline-secondary">19</button>
                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-arrow-right"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-4 pb-0 d-none d-md-block">
            <div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="calendar navigation">
              <div class="input-group">
                <div class="input-group-text" id="btnGroupAddon">Select date</div>
                <input type="date" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon" value="2024-03-16">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <p><i class="bi bi-calendar-check-fill me-2"></i>Today's task</p>
          <div class="card bg-success mt-2">
            <div class="card-body">
              <span
                ><b>08:00</b
                ><span class="badge bg-success float-end">Completed</span
                ><br />Grooming task</span
              >
            </div>
          </div>
          <div class="card bg-warning mt-2">
            <div class="card-body">
              <span
                ><b>09:00</b
                ><span class="badge bg-warning float-end">Overdue</span
                ><br />Body temperature</span
              >
            </div>
          </div>
          <div class="card bg-danger mt-2">
            <div class="card-body">
              <span
                ><b>10:00</b
                ><span class="badge bg-danger float-end">Urgent</span><br />Body
                weight<span class="text-danger float-end"
                  ><i class="bi bi-arrow-right"></i></span
              ></span>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <span><b>11:00</b><br />Fresubin 1800 complete - 1500ml</span
              ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <span><b>18:00</b><br />Body temperature</span
              ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <span><b>19:00</b><br />Body weight</span
              ><span class="float-end"><i class="bi bi-arrow-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
