<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6 pb-2">Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Therapietrouw grafiek</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-2">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Lichaamsgewicht</p>
          <!-- <canvas
              baseChart
              width="400"
              height="400"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
            >
            </canvas> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-2">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Bloeddruk</p>
        </div>
      </div>
    </div>
  </div>
</div>
